@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Kanit:wght@500&display=swap');


#contenedor {
    min-height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(40deg, rgba(2, 0, 36, 1) 0%, rgba(1, 1, 19, 1) 60%, rgba(0, 212, 255, 1) 100%);
}

* {
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Kanit', sans-serif;
}

#app-header {
    display: flex;
    height: 10vh;
    padding-top: 10px;
    padding-left: 20px;
    color: #fff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;


}

.profile-pic {
    width: 40px;
    height: 50px;
    text-align: center;
    border-radius: 20%;
    align-self: end;
    text-align: center;
    align-self: end;
}

#app-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    animation: derecha 1s ease;
}

@keyframes derecha {

    /* Animacion que se ejecuta cuando carga la pagina */
    0% {
        transform: translateX(-100px);
        opacity: .3;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.input {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    outline:none;
    background: linear-gradient(to left top, #000, #01182C) fixed;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.2);
    color: rgba(255,255,255,0.8);
    transition: all 0.5s;
  }

  .input:focus {
    border: 2px solid rgba(255,255,255,0.5);
    background: linear-gradient(to left top, #000, #02325c) fixed;
  }


  
#footer {
    height: 10vh;
    background-color: #F5B600;
    color: #291606;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .icon {
        width: 23px;
    }
}

.card-chofer {
    color: #e3e3e3;
    height: 250px;
    width: 250px;
    // background-color: #000c19;
    background-color:#01445E;
    margin: 10px 0;
    border-radius: 20px;
}

.car-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    height: 200px;
    padding: 10px;

    img {
        flex-shrink: 0;
        min-height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    ;

    span {
        margin-left: 5px;
    }
}

.card-footer {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
}

.card-icon {
    width: 20px;
}

.bordered {
    padding: 0 20px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.title {
    color: #e3e3e3;
    display: flex;
}

.active-icon {
    border-bottom: 3px solid #01182C;
    border-radius: 2px;
}

.input-destino{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    input{
        width: 90% !important;
    }
}

.doble-input{
    display: flex;
    justify-content: space-between;
}

.input-filtro{
    display: flex;
    justify-content: initial;
    margin-top: 10px;
}

.submit-container{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .btn-submit{
    color: #e2e2e2;
    background: linear-gradient(to left top, #000, #ca9700) fixed;
    width: 70%;
    border: none;
    border-radius: 10px;
  } 

  .btn-submit:hover{
    background: linear-gradient(to left top, #000, #ffbf00) fixed;
  }
#map{
    height: 100%;
    width: 100%;
}

.flotante{
    position: absolute;
    bottom: 20px;
}
.div-input{
    padding-left: 20px;
    margin-top: 50px;
}

.contact-button{
    width: 80%;
    padding: 10px;
    background: linear-gradient(45deg, #FFD700, #FFA500);
    border: 2px solid yellow;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #fff;
  }